{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                {{ 'title_delete' | trans([], 'admin_article') }}
            </h3>
        </div>
        <div class="box-body">
            {{ 'message.delete_confirmation' | trans({'%object%': article}, 'base') }}
            <br>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-danger" type="submit" value="{{ 'btn.confirm_delete' | trans([], 'base') }}" />
            <a class="btn btn-primary" href="{{ path('admin_article_index') }}">
                {{ 'btn.cancel_delete' | trans([], 'base') }}
            </a>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
