{% extends 'admin/layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Lista</h3>
            <div class="box-tools pull-right">
                <div class="btn-group" data-toggle="btn-toggle">
                    <a class="btn btn-primary" href="{{ path('admin_article_index') }}">
                        {{ 'btn.back_to_list' | trans([], 'base') }}
                    </a>
                </div>
            </div>
        </div>
        <div class="box-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% block save_btn %}
                {% if article.id is null %}
                    <input class="btn btn-success" type="submit" value="{{ 'btn.create' | trans([], 'base') }}" />
                {% else %}
                    <input class="btn btn-success" type="submit" value="{{ 'btn.save' | trans([], 'base') }}" />
                {% endif %}
            {% endblock %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            let waitingStatus = {{ constant('AppBundle\\Entity\\Article::STATUS_WAITING') }};
            let $publishFromInput = $('#{{ form.publishFrom.vars.id }}').closest('.form-group');
            let $statusInput = $('#{{ form.status.vars.id }}');
            let toggleInput = function () {
                $publishFromInput.toggle($statusInput.val() == waitingStatus)

            };

            $statusInput.on('change', toggleInput);
            toggleInput();
        })
    </script>
{% endblock %}