{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{{ 'title_list' | trans([], 'admin_article') }}</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                    <a class="btn btn-primary" href="{{ path('admin_article_new') }}">
                        {{ 'btn.action_create' | trans([], 'base') }}
                    </a>
                </div>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{ 'list.label_title' | trans([], 'admin_article') }}</th>
                    <th>{{ 'list.label_status' | trans([], 'admin_article') }}</th>
                    <th>{{ 'list.label_publish_from' | trans([], 'admin_article') }}</th>
                    <th>{{ 'list.label__actions' | trans([], 'admin_article') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for article in pagination %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.statusName | trans([], 'admin_article') }}</td>
                        <td>{% if article.publishFrom %}{{ article.publishFrom|date('d.m.Y') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_article_show', { 'id': article.id }) }}">
                                        {{ 'btn.show' | trans([], 'base') }}
                                    </a>
                                </li>
                                {% if is_granted('edit', article) %}
                                    <li>
                                        <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">
                                            {{ 'btn.edit' | trans([], 'base') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if is_granted('delete', article) %}
                                    <li>
                                        <a href="{{ path('admin_article_delete', { 'id': article.id }) }}">
                                            {{ 'btn.delete' | trans([], 'base') }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-block">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
