{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                {{ 'title_show' | trans([], 'admin_article') }}
            </h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                    <a class="btn btn-primary" href="{{ path('admin_article_index') }}">
                        {{ 'btn.back_to_list' | trans([], 'base') }}
                    </a>
                    {% if is_granted('edit', article) %}
                        <a class="btn btn-info"  href="{{ path('admin_article_edit', { 'id': article.id }) }}">
                            {{ 'btn.edit' | trans([], 'base') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="box-body">
            <table>
                <tbody>
                <tr>
                    <th>{{ 'show.label_id' | trans([], 'admin_article') }}</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'show.label_title' | trans([], 'admin_article') }}</th>
                    <td>{{ article.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'show.label_body' | trans([], 'admin_article') }}</th>
                    <td>{{ article.body }}</td>
                </tr>
                <tr>
                    <th>{{ 'show.label_status' | trans([], 'admin_article') }}</th>
                    <td>{{ article.statusName  | trans([], 'admin_article') }}</td>
                </tr>
                <tr>
                    <th>{{ 'show.label_created_at' | trans([], 'admin_article') }}</th>
                    <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>{{ 'show.label_publish_from' | trans([], 'admin_article') }}</th>
                    <td>{% if article.publishFrom %}{{ article.publishFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
