{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
           <div class="box box-primary">
               <div class="box-header">
                  <h2 class="box-title">
                      {{ 'list_title' | trans([], 'article') }}
                  </h2>
               </div>
               <div class="box-body">
                   <ul class="list-group">
                       {% for article in pagination %}
                           <li class="list-group-item">
                               <div class="row">
                                   <div class="col-md-2">
                                       <div class="text-bold">
                                           <a href="{{ path('app_article_show', {id: article.id}) }}">{{ article.title }}</a>
                                       </div>
                                   </div>
                                   <div class="col-md-8">
                                        {{ article.body }}
                                   </div>
                                   <div class="col-md-2">
                                       <div class="pull-right">
                                           <div>{{ article.createdBy }}</div>
                                           <div>{{ article.createdAt | date('d.m.Y')  }}</div>
                                           <br>
                                           <a class="btn btn-default" href="{{ path('app_article_show', {id: article.id}) }}">{{ 'btn.show' | trans([], 'base') }}</a>
                                       </div>
                                   </div>
                               </div>
                           </li>
                       {% endfor %}
                   </ul>
                   <div class="center-block">
                       <div class="navigation">
                           {{ knp_pagination_render(pagination) }}
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
{% endblock %}