{% extends 'base.html.twig' %}
{% form_theme commentForm 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{{ article.title }}</h3>
                     <div class="box-tools pull-right">
                         {{ article.createdBy }}
                         {{ article.createdAt | date('d.m.Y') }}
                    </div>
                </div>
                <div class="box-body">
                    {{ article.body }}
                </div>
                <div class="box-footer">
                    <ul class="list-group comments-container"></ul>
                    {{ form_start(commentForm) }}
                    {{ form_widget(commentForm) }}
                    <input class="btn btn-success" type="submit" value="{{ 'btn.create' | trans([], 'base') }}"/>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/comment.js') }}"></script>
    <script>
        let comments = {{ article.comments | serialize('json') | raw }};
        let box = new CommentBox('.comments-container', comments);

        $(function () {
            $('form').submit(function () {
                let $form = $(this);

                $form.find('.form-group').each(function (index, el) {
                    $(el).removeClass('has-error');
                });

                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        box.newComment(data)
                        $form[0].reset();
                    },
                    error: function (err) {
                        if (err.responseJSON, err.responseJSON.children){
                            $.each(err.responseJSON.children, function (key, child) {
                                if (child.errors) {
                                    $("input[id$='"+key+"']").closest('.form-group').addClass('has-error');
                                }
                            })
                        } else {
                            alert('Undefined Error');
                        }
                    }
                });
                return false;
            })
        });
    </script>
{% endblock %}